<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование товара</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:replace="~{layouts/header :: header}"></div>

<main class="container">

  <form th:action="@{'/orders/' + ${order.id} + '/update/add'}" method="post" id="form">
    <h1>Редактирование товара</h1>
    <input type="text" name="name" placeholder="Введите название" th:value="${order.name}">
    <input type="number" name="price" placeholder="Введите цену" th:value="${order.price}">
    <input type="date" name="expiration_date" placeholder="Введите срок годности" th:value="${order.expiration_date}">
    <input type="text" name="manufacturer" placeholder="Введите производителя" th:value="${order.manufacturer}">
    <input type="text" name="country_of_manufacture" placeholder="Введите страну производства" th:value="${order.country_of_manufacture}">
    <input type="text" name="purpose_of_use" placeholder="Введите ключевые слова" th:value="${order.purpose_of_use}">
    <input type="text" name="img" placeholder="Вставте ссылку на фото" th:value="${order.img}">
    <input type="number" name="purchase_price" placeholder="Введите закупочную стоимость" th:value="${order.purchase_price}">
    <input type="number" name="quantity" placeholder="Введите количество" th:value="${order.quantity}">
    <input type="number" name="code" placeholder="Введите код" th:value="${order.code}">
    <textarea type="text" name="description" placeholder="Введите описание" th:text="${order.description}"></textarea>

    <h3 th:text="${error}" style="color: red"/>

    <button>Изменить</button>
  </form>

</main>

<div th:replace="~{layouts/footer :: footer}"></div>

</body>
</html>