<header class="container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
    <span class="logo"><a href="/">REFLECTION</a></span>
    <nav>
        <a th:href="@{/}">Главная страница</a>

        <a th:href="@{/orders}">Товары</a>

        <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('EMPLOYEE') || hasAuthority('DEVELOPER')">
           <a th:href="@{/controlpanel}">Панель управления</a>
        </span>

        <span sec:authorize="isAuthenticated() || hasAuthority('USER') || hasAuthority('DEVLOPER')">
           <a th:href="@{/basket}">Корзина</a>
        </span>

        <span sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Войти</a>
        </span>

        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <button id="but_exit">Выйти</button>
        </form>
    </nav>
</header>