<header class="container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
    <link rel="stylesheet" th:href="@{/main.css}">
    <script src="main.js"></script>
    <span class="logo">
        <img id="img_logo" src="/image/logo2.jpg">
        <a href="/">ТРАЖЕНИЕ</a>
    </span>
    <meta property="og:image" content="/image/logo.jpg">
    <nav>

    </nav>
    <div class="dropdown">
        <button class="dropbtn">☰</button>
        <div class="dropdown-content">
            <a th:href="@{/}">Главная страница</a>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER') || hasAuthority('EMPLOYEE')">
                <a th:href="@{/dailyprofit}">Составить ежедневный отчет</a>
            </span>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER') || hasAuthority('EMPLOYEE')">
                <a th:href="@{/calendar/add}">Записать клиента</a>
            </span>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER') || hasAuthority('EMPLOYEE')">
                <a th:href="@{/calendar/date}">Поиск записей по дате</a>
            </span>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER') || hasAuthority('EMPLOYEE')">
                <a th:href="@{/calendar/name}">Поиск записей по имени</a>
            </span>

            <a th:href="@{/orders}">Товары</a>

            <span sec:authorize="hasAuthority('USER') || hasAuthority('DEVELOPER')">
                <a th:href="@{/basket}">Корзина</a>
            </span>

            <span sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Войти</a>
            </span>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER') || hasAuthority('EMPLOYEE')">
                <a th:href="@{/controlpanel/newarticles}">Добавить новую статью</a>
            </span>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER') || hasAuthority('EMPLOYEE')">
                <a th:href="@{/controlpanel/neworder}">Добавить новый товар</a>
            </span>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER') || hasAuthority('EMPLOYEE')">
                <a th:href="@{/controlpanel/neworderpersonal}">Добавить новый инвентарь</a>
            </span>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER') || hasAuthority('EMPLOYEE')">
                <a th:href="@{/controlpanel/orderpersonal}">Просмотр инвентаря</a>
            </span>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER')">
                <a th:href="@{/monthly-report}">Ежемесячный отчет</a>
            </span>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER')">
                <a th:href="@{/newuser}">Управление аккаунтами</a>
            </span>

            <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER')">
                <a th:href="@{/updateindex}">Редактировать главную старницу</a>
            </span>

            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button id="but_exit">Выйти</button>
            </form>
        </div>
    </div>

    <div class="fixed-button-container" sec:authorize="hasAnyAuthority('USER','DEVELOPER') || !isAuthenticated()">
        <form th:action="@{/mail}">
            <button class="fixed-button" id="myButton">Заявка на запись</button>
        </form>
    </div>
</header>