<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reflection</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<div th:replace="layouts/header :: header"></div>

<main class="container">

  <form th:action="@{/controlpanel/neworder}">
    <button>Добавить новый товар для продажи</button>
  </form>

  <form th:action="@{/controlpanel/newarticles}">
    <button>Добавить новую статью</button>
  </form>

  <form th:action="@{/controlpanel/updateindex}">
    <button>Редактировать главную старницу</button>
  </form>

  <form th:action="@{/controlpanel/neworderpersonal}">
    <button>Добавить новый товар для личного использования</button>
  </form>

  <form th:action="@{/controlpanel/orderpersonal}">
    <button>Просмотр товара для личного использования</button>
  </form>

  <form th:action="@{/controlpanel/dailyprofit}">
    <button>Составить ежедневный отчет</button>
  </form>

  <form th:action="@{/controlpanel/newuser}">
    <button>Создать нового пользователя</button>
  </form>





</main>

<div th:replace="layouts/footer :: footer"></div>

</body>
</html>