<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Поиск по дате</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<div th:replace="layouts/header :: header"></div>

<main class="container">
  <form th:action="@{/calendar/date}" method="post" id="form">
    <h1>Поиск записей по дате</h1>
    <input type="date" placeholder="Введите дату" name="date">

    <h3 th:text="${error}" style="color: red"/>

    <button>Искать</button>
  </form>

</main>

<div th:replace="layouts/footer :: footer"></div>

</body>
</html>