<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Отражение - эстетик центр</title>
    <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/main.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Отражение - эстетик центр">
    <meta property="og:description" content="Отражение - салон косметологии и онлайн-магазин с товарами для ухода за кожей в Воронеже.
     Наши профессиональные косметологи предлагают широкий спектр услуг для поддержания вашей естественной красоты: уход за кожей лица и тела,
      массаж тела, увеличение губ и многое другое. В нашем онлайн-магазине вы также найдете широкий ассортимент профессиональных средств для ухода за кожей,
       подобранных нашими специалистами. Погрузитесь в атмосферу уюта и профессионального ухода в нашем современном салоне. Забудьте о стрессе
        и наслаждайтесь релаксацией, доверившись опыту наших специалистов. Приходите к нам в Отражение и окунитесь в мир красоты вместе с нами!
         Официальный дистрибьютор профессиональных марок космецевтики DERMIA SOLUTION (Испания) и NEOSBIOLAB (Россия),
         Аппаратные системы для косметологов Dermia Solution (Испания-Германия),
         Натуральная косметика VIVERdi,
         В наличии профессиональные препараты для косметологов и средства домашнего ухода,
         В эстетик-центре ОТРАЖЕНИЕ ведут прием дипломированные косметологи и массажисты,
         Мы с удовольствием поможем решить любые эстетические проблемы вашей кожи и поможем подобрать эффективный домашний уход">
    <meta property="og:image" content="/image/logo2.jpg">
    <meta property="og:url" content="https://reflection-vrn.ru/">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Отражение - эстетик центр">
    <meta name="twitter:description" content="Отражение - салон косметологии и онлайн-магазин с товарами для ухода за кожей в Воронеже.
     Наши профессиональные косметологи предлагают широкий спектр услуг для поддержания вашей естественной красоты: уход за кожей лица и тела,
      массаж тела, увеличение губ и многое другое. В нашем онлайн-магазине вы также найдете широкий ассортимент профессиональных средств для ухода за кожей,
       подобранных нашими специалистами. Погрузитесь в атмосферу уюта и профессионального ухода в нашем современном салоне. Забудьте о стрессе
        и наслаждайтесь релаксацией, доверившись опыту наших специалистов. Приходите к нам в Отражение и окунитесь в мир красоты вместе с нами!
         Официальный дистрибьютор профессиональных марок космецевтики DERMIA SOLUTION (Испания) и NEOSBIOLAB (Россия),
         Аппаратные системы для косметологов Dermia Solution (Испания-Германия),
         Натуральная косметика VIVERdi,
         В наличии профессиональные препараты для косметологов и средства домашнего ухода,
         В эстетик-центре ОТРАЖЕНИЕ ведут прием дипломированные косметологи и массажисты,
         Мы с удовольствием поможем решить любые эстетические проблемы вашей кожи и поможем подобрать эффективный домашний уход">
    <meta name="twitter:image" content="/image/logo2.jpg">

    <meta name="yandex-verification" content="a4568ddf44a3cf5c" />
</head>
<body>

<div th:replace="~{layouts/header :: header}"></div>

<main class="container">

    <div class="info_orders scroll-block" sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER')">
        <a th:text="${ordersInfo}" style="color: red" th:href="@{/expired-product}"/>
    </div>

    <div class="info_orders scroll-block" sec:authorize="hasAuthority('ADMIN') || hasAuthority('DEVELOPER')">
        <a th:text="${ordersPersonalInfo}" style="color: red" th:href="@{/expired-product-personal}"/>
    </div>

    <div id = "history" class="scroll-block" th:each="el : ${aboutTheSalon}">
        <h1 class="history_index" th:text="${el.activity}"/>
        <br>
        <br>
        <h3 class="history_index" th:text="${el.history}"/>
        <br>
        <br>
    </div>

    <h1 class="history_index scroll-block">Услуги</h1>

    <div class="carousel-container scroll-block">
        <div class="card_div">
            <div class="cards-wrapper">
                <div class="card" th:each="el : ${services}">
                    <img th:src="${el.img}" alt="Извините фото не найдено">
                    <h3 th:text="${el.name}"></h3>
                    <h5 th:text="${el.description}"></h5>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                </div>
            </div>
        </div>
        <button class="prev" onclick="moveSlides(-1)">&#10094;</button>
        <button class="next" onclick="moveSlides(1)">&#10095;</button>
    </div>
    <script>
        var currentIndex = 0;
        var totalSlides = document.querySelectorAll('.card').length;
        var cardWidth = document.querySelector('.card').offsetWidth;
        var wrapperWidth = totalSlides * cardWidth;
        var stepFactor = 0.5;

        function moveSlides(n) {
            currentIndex = (currentIndex + n) % totalSlides;
            if (currentIndex < 0) {
                currentIndex = totalSlides - 1;
            }
            var slideOffset = -(currentIndex * cardWidth * stepFactor);
            var transitionDuration = '0.8s';
            document.querySelector('.cards-wrapper').style.transitionDuration = transitionDuration;
            document.querySelector('.cards-wrapper').style.transform = 'translateX(' + slideOffset + 'px)';
        }
    </script>

    <hr class="hr_index scroll-block">

    <div id="img_index" class="scroll-block" th:each="el : ${address}">
        <img th:src="${el.img}" alt="Извините, фото не найдено" class="img">
        <br>
        <br>
        <h1>Наш адрес</h1>
        <h3 th:text = "${el.address}"/>
    </div>

    <hr class="hr_index scroll-block">

    <h1 id="h1_div" class="scroll-block">Новости</h1>
    <div id = "div_index" class="scroll-block" th:each="el : ${articles}">
        <h1 th:text="${el.name}"/>
        <a th:href="'/articles/' + ${el.id}"><img th:src="${el.img}" class="img" id="img_news" alt="Извините, фото не найдено"></a>
        <h6 th:text="${el.date}"/>
    </div>

    <div th:if="${successMessage}" class="centered-message">
        <div class="custom-alert" role="alert" th:text="${successMessage}"></div>
    </div>

    <script>
        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            var windowHeight = (window.innerHeight || document.documentElement.clientHeight);
            return (
                rect.top <= windowHeight * 0.85
            );
        }
        function showBlocksOnScroll() {
            var blocks = document.querySelectorAll('.scroll-block');
            blocks.forEach(function(block) {
                if (isElementInViewport(block)) {
                    block.classList.add('visible');
                }
            });
        }

        window.addEventListener('scroll', showBlocksOnScroll);
        showBlocksOnScroll();
    </script>
</main>

<div th:replace="~{layouts/footer :: footer}"></div>

</body>
</html>