<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование главной страницы</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:replace="~{layouts/header :: header}"></div>

<main class="container">

  <form th:action="@{/updateindex/add}" method="post" id="form">
    <h1>Редактирование главной страницы</h1>

    <textarea type="text" name="activity" placeholder="Введите главный текст" th:text="${aboutTheSalon.activity}"></textarea>
    <textarea type="text" name="history" placeholder="Введите вторичный текст" th:text="${aboutTheSalon.history}"></textarea>

    <input type="text" name="img" placeholder="Вставьте ссылку фото" th:value="${addresofthesalon.img}">
    <input type="text" name="address" placeholder="Введите адрес" th:value="${addresofthesalon.address}">

    <h3 th:text="${error}" style="color: red"/>

    <button>Изменить</button>
  </form>
  <br><br><br>
  <form th:action="@{/updateindex/service/add}" method="post" class="form">
    <h1>Добавить новую услугу</h1>

    <input type="text" name="img" placeholder="Вставьте ссылку фото">
    <input type="text" name="name" placeholder="Введите имя">
    <input type="text" name="description" placeholder="Введите описание">

    <h3 th:text="${error2}" style="color: red"/>

    <button>Добавить</button>
  </form>
  <br><br><br>

  <h1 class="history_index">Все услуги</h1>
  <div class="div_orders">
    <div th:each="el : ${services}" id="div_orders">
      <img th:src="${el.img}" alt="Извините фото не найдено" id="img_order">
      <h3 th:text="${el.name}"></h3>
      <h5 th:text="${el.description}"></h5>

      <form th:action="@{'/updateindex/service/delete' + ${el.id}}" method="post">
        <button>Удалить</button>
      </form>
    </div>
  </div>

</main>

<div th:replace="~{layouts/footer :: footer}"></div>

</body>
</html>