<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование товара</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:replace="~{layouts/header :: header}"></div>

<main class="container">

  <form th:action="@{'/controlpanel/orderpersonal/' + ${order.id} + '/update/add'}" method="post" id="form">
    <h1>Редактирование товара</h1>
    <input type="text" name="name" placeholder="Введите название" th:value="${order.name}">
    <input type="number" name="purchase_price" placeholder="Введите закупочную стоимость" th:value="${order.purchase_price}">
    <input type="date" name="expiration_date" placeholder="Введите срок годности" th:value="${order.expiration_date}">
    <input type="text" name="manufacturer" placeholder="Введите производителя" th:value="${order.manufacturer}">
    <input type="text" name="img" placeholder="Вставьте ссылку на фото" th:value="${order.img}">
    <input type="number" name="in_stock" placeholder="Введите колличество в наличии" th:value="${order.in_stock}">
    <input type="number" name="code" placeholder="Введите код" th:value="${order.code}">

    <h3 th:text="${error}" style="color: red"/>

    <button>Изменить</button>
  </form>

</main>

<div th:replace="~{layouts/footer :: footer}"></div>

</body>
</html>