<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Подтверждение кода</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:replace="~{layouts/header :: header}"></div>

<main class="container">

  <form id="form" th:action="@{/recovery/code}" method="post">
    <h1>Подтвердите код отпарвленный на почту</h1>
    <input placeholder="Введите код" type="text" name="code">
    <button>Подтвердить</button>

    <h3 th:text="${error}" style="color: red"/>
  </form>


</main>

<div th:replace="~{layouts/footer :: footer}"></div>

</body>
</html>