<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<div th:replace="~{layouts/header :: header}"></div>

<main class="container">

    <form th:action="@{/reg/add}" method="post" id="form">
        <h1>Регистрация</h1>
        <input type="text" name="username" placeholder="Введите логин">
        <input type="email" name="email" placeholder="Введите e-mail">
        <input type="password" name="password" placeholder="Введите пароль">
        <label for="agreement" style="display: flex; align-items: center;">
            <input type="checkbox" id="agreement" name="agreement" value="yes" style="margin-right: 15px;">
            <a href="">Согласен на обработку персональных данных</a>
        </label>

        <h3 th:text="${error}" style="color: red"/>

        <button>Зарегестрироваться</button>
    </form>

</main>

<div th:replace="~{layouts/footer :: footer}"></div>

</body>
</html>