<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заявка на запись</title>
    <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:replace="~{layouts/header :: header}"></div>

<main class="container">

    <form th:action="@{/send-email}" method="post" id="form">
        <h1>Заявка на запись к специалисту</h1>
        <input type="text" name="name" placeholder="Введите ФИО">
        <input type="number" name="phone" placeholder="Введите номер для связи (WhatsApp)">
        <input type="date" name="date" placeholder="Введите желаемую дату">
        <input type="time" name="time" placeholder="Введите желаемое время">

        <h3 th:text="${error}" style="color: red"/>

        <button>Отправить заявку</button>
    </form>

</main>

<div th:replace="~{layouts/footer :: footer}"></div>

</body>
</html>